/*
    This file is to show how CSS and other static resources (such as images) can be
    used from a library project/package.
*/

.my-component {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
head {
    body

{
    font-family: Consolas;
    background-color: #ebebeb;
}

h1 {
    padding: 10px;
    margin: 0px;
}

.container #statusses {
    padding: 0px;
    margin: 0px;
}

.container li {
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px;
    list-style: none;
    padding: 10px 5px 0px 5px;
    text-align: center;
}

    .container li.online {
        background-color: #a6cf9e;
    }

    .container li.offline {
        background-color: #cf9e9e;
    }
}