@page   "/dashboard"


<head>
    <title>DashBoard</title>
</head>
<content>
    @*<h1>Channels (@Count)</h1>
    <div class="container">
        <ul id="statusses">
            @foreach(var channel in Channels)
            {
                <li><ChannelComponent StatusColor="ChannelStatusToColor(channel.ChannelStatus)" ChannelBoxUrl="channel.ProfileUrl"/></li>
            }
        </ul>
    </div>*@
</content>

